.secondSection {
  ul {
    // 为后续的吸顶效果准备
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    li {
      position: relative;
      color: white;
      list-style: none;

      .line {
        position: absolute;
        left: 50%;
        bottom: -8px;
        transform: translate(-50%);
        height: 4px;
        width: 100%;
        background: green;
        opacity: 0;
        transition: opacity .3s ; //动画时间 250ms 或者300ms
      }

      .visible{
        opacity: 1;
      }
    }
  }

  section {
    padding: 16px;

    h2 {
      color: white;
    }

    img {
      width: 100%;
      border-radius: 6px;
      margin-top: 16px;
    }
  }
}
